<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <style type="text/css">
 .container{
 	margin-top: 30px;
 }
 .row{
 	margin: 0px auto;
 	width: 960px;
 }
 </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 class="text-center">내용보기</h1>
			<table>
				<tbody>
					<tr>
						<th width="10%">
						번호
						</th>
						<td width="50%" th:text=${vo.no}>
						</td>
						<th width="10%">
						작성일
						</th>
						<td width="50%" th:text=${vo.regdate}>
						</td>
					<tr>
					<tr>
						<th width="10%">
						이름
						</th>
						<td width="50%" th:text=${vo.name}>
						</td>
						<th width="10%">
						조회수
						</th>
						<td width="50%" th:text=${vo.hit}>
						</td>
					<tr>
					<tr>
						<th width="10%">
						제목
						</th>
						<td width="90%" th:text=${vo.subject} colspan="3">
						</td>
					<tr>
					<tr>
						<td colspan="4" class="text-left" valign="top" height="200">
							<pre style="white-space: nowrap; background-color: white;border: none"
							th:text="${vo.content}"
							></pre>
						</td>
					<tr>
					<tr>
						<td colspan="4">
							<a class="btn btn-sm btn-info" th:href="@{/board/update(no=${vo.no})}">수정</a>
							<a class="btn btn-sm btn-primary" th:href="@{/board/delete(no=${vo.no})}">삭제</a>
							<a class="btn btn-sm btn-danger" href="/board/list">목록</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>